*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
   background-image: url("./image/desk.webp");
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.link{
  color:black;
}

.link:hover{
   background-color:antiquewhite;
   color: rgb(255, 63, 63)  ;
}