

/* Glass effect card */
.login-card{
background: rgba(255,255,255,0.15);
backdrop-filter: blur(10px);
border-radius:20px;
padding:30px;
box-shadow:0 8px 32px rgba(0,0,0,0.3);
border:1px solid rgba(255,255,255,0.2);
}

/* Transparent inputs */
.login-card input{
background:rgba(255,255,255,0.2);
border:none;
color:white;
}

.login-card input::placeholder{
color:#eee;
}

.login-card input:focus{
background:rgba(255,255,255,0.3);
box-shadow:none;
}